body {
    background-color: black;
    margin-left: 5%;
}

header {
    display: flex;
    justify-content: center;
    background-color: darkblue;
    width: 55%;
}

h1, h2, h3 {
    color: aliceblue;
}

#image {
    display: flex;
    margin-left: 15%;
    height: 100px;
    width: 90px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKC1P_grbFKsCAA09UEupt8vQjEwR5vpF98rhg_n9Q_1fwjZNuVQ&s');
}

